/* Global Variables */

:root{
    --primary:#218838;
    --light:#fff;
    --secondary:#E8242E;
    --dark:#1D1D1D;
}

/* Global Variables */

/* Custom Font  */
@font-face {
    font-family: monsterrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  }
/* Custom Font  */

/* Resets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-family:'monsterrat', sans-serif!important;
}

/* Header  */
    /* Nav  */
    nav{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        position: fixed;
    }

    .nav-link{
        text-transform: uppercase;
        color: var(--dark)!important;
        margin-right: 1rem;
        font-weight: bold;
        font-size: 1.1rem;
    }
    .nav-item{
        margin-right: .1rem;
    }
    .nav-item:last-child{
        margin-right: 0;
    }
    .nav-link.active{
        color: var(--primary)!important;
    }
    .nav-link:hover{
        color: var(--primary)!important;
    }
    /* Nav  */
    /* Hero-slider */
    section.section.hero-slider{
        height: calc(100vh - 91px);
    }
    section.section.hero-slider .single-slide{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section.section.hero-slider .single-slide.slide-1{
        background-image: url(../img/hero-slider/1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    section.section.hero-slider .single-slide .slide-title{
        color: var(--light);
    }
    section.section.hero-slider .single-slide .slide-desc{
        color: var(--light);
    }
    /* Hero-slider */
/* Header  */

/* Utilities */

.bg-my-primary{
background-color: var(--primary);
}
.bg-my-dark{
    background-color: var(--dark);
}

/* Utilities */
